body{
    background-color:beige;
}
.navbar-brand, .nav-link{
    font-size: 1.5rem;
}
#lblBienvenida{
    color:white;
    font-size: 1.5em;
}
#lblErrorIniciaSesion, #lblErrorRegistro{
    color:red;
}
img{
    width:100%;
}
#tituloIndex{
    font-size:2rem;
    text-align: center;
}
#footer {
    margin-top: 1%;
    background-color: #212529; 
}
    #footer a:hover .fa-brands {
      color: black;
      text-shadow: 0px 0px 4px white; 
    }
.fa-brands {
    color: white; 
}